
<p-panel header="Pipes Básicos" class="p-1">
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module.
  </p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4" >
    <p-card header="Lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4" >
    <p-card header="Titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>
</div>
